{% extends "layout.html" %}
{% block body %}
  <h2>Sign up</h2>
  <form action="{{ url_for('sign_up') }}" method="post">
    <dl>
      <dt>Username *:</dt>
      <dd><input type="text" name="username"></dd>
      <dt>Password *:</dt>
      <dd><input type="password" name="password"></dd>
      <dt>Email *:</dt>
      <dd><input type="text" name="email"></dd>
      <dt>First name:</dt>
      <dd><input type="text" name="first_name"></dd>
      <dt>Last name:</dt>
      <dd><input type="text" name="last_name"></dd>
      <dd><input type="submit" value="sign up"></dd>
    </dl>
  </form>
{% endblock %}
